@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary-color: rgb(11, 181, 48);
  --secundary-color: rgb(36, 122, 55, 0.9);
  --padding: 0.5rem;
  --border-radius: 0.6rem;
  --box-shadow: 0.1rem 0.2rem 0.8rem rgpa(205, 202, 202, 0.5);
} */
.image__preview {
  width: 100px;
  height: 100px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.image__product {
  width: 200px;
  height: 200px;
}

.button__add {
  background-color: #102c57; /* Dark blue */
  color: #fefaf6; /* Cream */

  padding: 0.5rem;
}
.button__edit {
  background-color: #102c57; /* Dark blue */
  color: #fefaf6; /* Cream */

  padding: 0.5rem;
}
.button__delete {
  color: #102c57; /* Cream */
  border: 1px solid #102c57;

  padding: 0.5rem;
}
* {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: #fefaf6;
  min-height: calc(100vh - 60px);
  overflow-y: auto;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #102c57; /* Dark blue */
}

.navbar__logo {
  display: flex;
}

.navbar__link {
  color: #fefaf6; /* Cream */
  text-decoration: none;
  margin: 10px;
}

.navbar__actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar__links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar__link {
  color: #eadbc8; /* Cream */
  text-decoration: none;
  margin-bottom: 1rem;
}
.navbar__link:hover {
  color: #dac0a3; /* Light brown */
}

.navbar__icon {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar__menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fefaf6; /* Cream */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

.navbar__menuItem {
  display: block;
  padding: 0.5rem;
  color: #102c57; /* Dark blue */
  text-decoration: none;
}

.navbar__menuItem:hover {
  background-color: #eadbc8; /* Light brown */
}

.button__login {
  font-size: 1rem;
  background-color: #eadbc8;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #102c57;
}
.button__login:hover {
  background-color: #dac0a3;
}

.button__register {
  font-size: 1rem;
  border: 1px solid #dac0a3;

  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #eadbc8;
}

.button__logout {
  font-size: 1rem;
  background-color: #eadbc8;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #102c57;
}

.button__subscribe {
  font-size: 1rem;
  background-color: #eadbc8;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #102c57;
}
.dashboard {
  font-size: 1rem;
  border: 1px solid #dac0a3;

  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #eadbc8;
}

.add__to_cart_btn {
  background-color: #102c57;
  color: #fefaf6;
}
/* footer */
.footer {
  position: fixed;
  background-color: #102c57;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  /* width: 100%;
  height: 60px; */
}

.main-container {
  height: 75vh;
  flex: 3;
  padding: var(--padding);

  overflow: scroll;
}

.register__form {
  margin: 3rem;
}

/* sidebr filter */

.container {
  display: flex;
}

.product-list {
  flex: 1;
}

.filter-section {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.search-input,
.sort-select {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.product-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-button {
  padding: 8px 16px;
  margin-right: 5px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.page-button[disabled] {
  background-color: #ccc;
  border-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.loading-text,
.error-text {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar {
  width: 25%;

  padding: 20px;
  margin-top: 2rem;
}

.sidebar-content {
  margin-bottom: 20px;
}

.sidebar-heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-item {
  margin-bottom: 10px;
}

.category-item input[type="checkbox"] {
  margin-right: 5px;
}

.price-range {
  margin-top: 20px;
}

.price-range input[type="number"] {
  width: 45%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.price-range input[type="number"]:last-child {
  margin-left: 10px;
}

.search__box {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  /* i want it in center  */
  justify-content: center;
}

/* .search__product {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;

  justify-content: center;
} */
/* styles.css */

/* .dashboard:hover {
  background-color: #dac0a3;
} */

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .filter-section {
    min-width: 100%;
  }
  .sidebar {
    min-width: 100%;
    margin-right: 20px;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .navbar__actions {
    display: flex;
    flex-direction: column;

    align-items: flex-end;
  }

  .navbar__links {
    flex-direction: row;
  }

  .navbar__link {
    display: flex;

    align-items: center; /* Add space between links */
  }

  .navbar__link:last-child {
    margin-right: 0; /* Remove margin from last link */
  }
}
